.colored-boxes{
  @apply flex flex-col;
  @screen md {
    @apply flex-row;
  }

}

.single-colored-box{
  @apply relative h-full flex items-center justify-center;
  background-repeat:no-repeat;
  background-size:cover;
  height:400px;
  @screen md {
    height:550px;
  }
  &:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    opacity:.8;
    @apply h-full w-full;
  }

  &.orange-box{
    .box-title{
      @apply text-white text-3xl mb-6;
      @extend .swift-book;
    }
    .box-copy{
      @apply text-white text-base mb-8;
    }
    &:after{
      @apply bg-arbor-orange;
    }
    .button{
      @apply bg-white;
      border:2px solid white;
      @extend .btn-hover--white;
    }
  }

  &.aqua-box{
    .box-title{
      @apply text-arbor-navy text-3xl mb-4;
      @extend .swift-book;
    }
    .box-copy{
      @apply text-arbor-navy text-base mb-8;
    }
    &:after{
      @apply bg-arbor-aqua;
    }
    .button{
      @apply bg-arbor-navy text-white;
      border:2px solid $navy;
      @extend .btn-hover--navy;
    }
  }

  .box-inner{
    @apply px-30 py-60 z-10 relative;
    @screen md{
      @apply py-150 px-120;
    }
  }
}