.repeatable-content-blocks{
  @apply mb-30;
  @screen md {
    @apply mb-120;
  }
  .content-title{
    @apply mb-30;
  }
  .content-list{
    column-count: 1;
    column-fill:balance;
    @screen md {
      column-count: 2;
    }
    .list-item{
      @apply my-6;
      page-break-inside: avoid;
      border-left: 5px solid $orange;
      padding-left: 15px;
      @screen md {
        display: inline-block;
      }
    }
  }
}