$orange: #C96114;
$navy : #002938;
$aqua : #36DEDE;
$light_gray: #F0F0F0;
$med_gray: #D1D1CF;
$brown: #4B2E05;

// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";